{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="verification-status">
      <div class="row">
        <div class="col-md-3">
          <div class="big-icon glyphicon"></div>
        </div>
        <div class="col-md-9">
          <div class="spinner"></div>
          <div class="status-text"></div>
        </div>
      </div>
      <div class="row">
        <div class="altered-records"></div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_js %}
  <script>
    new LR.DashboardVerifier({
      el: '.verification-status'
    });
  </script>
{% endblock %}
