{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>System of Record Dashboard</h1>
    </div>

    <div class="verification-status row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <div class="big-icon glyphicon"></div>
      </div>
      <div class="col-md-8">
        <div class="spinner"></div>
        <div class="status-text"></div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_js %}
  <script>
    new LR.DashboardVerifier({
      el: '.verification-status'
    });
  </script>
{% endblock %}
